<div class="filter-holder">
    <rimss-brand-filter *ngIf="filterConfig.brandFilter"></rimss-brand-filter>
    <mat-divider></mat-divider>
    <rimss-price-filter *ngIf="filterConfig.priceFilter"></rimss-price-filter>
    <mat-divider></mat-divider>
    <rimss-rating-filter *ngIf="filterConfig.ratingFilter"></rimss-rating-filter>
    <mat-divider></mat-divider>
    <rimss-size-filter *ngIf="filterConfig.sizeFilter"></rimss-size-filter>
    <mat-divider></mat-divider>
    <rimss-discount-filter *ngIf="filterConfig.discountFilter"></rimss-discount-filter>
    <button mat-button (click)="clearAll()">Clear all filters</button>
</div>
