<div class="rating-holder">
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header
        [collapsedHeight]="'auto'"
        [expandedHeight]="'auto'"
      >
        <mat-panel-title>{{"filter.rating.label" | translate}}</mat-panel-title>
      </mat-expansion-panel-header>
<ng-container *ngFor="let ratingOption of ratingOptions">
      <mat-checkbox [checked]="selectedRatingOptions.includes(ratingOption.minRating)" [value]="ratingOption.minRating.toString()" (change)="onRatingChange($event)" class="price-cb">
        <star-rating
          [labelPosition]="'right'"
          [readOnly]="true"
          [showHalfStars]="true"
          [starType]="'svg'"
          [rating]="ratingOption.displayValue"
        ></star-rating>
      </mat-checkbox>
    </ng-container>
    </mat-expansion-panel>
  </mat-accordion>
</div>
