<section class="bg-primary padding-y-sm">
  <div class="container">
    <ol class="breadcrumb ondark steps">
      <li class="breadcrumb-item"><a href="#">{{"orders.checkout.breadcrumb.home" | translate}}</a></li>
      <li class="breadcrumb-item"><a href="#">{{"orders.checkout.breadcrumb.shopping_cart" | translate}}</a></li>
      <li class="breadcrumb-item active">{{"orders.checkout.breadcrumb.order_info" | translate}}</li>
      <li class="breadcrumb-item">{{"orders.checkout.breadcrumb.payment" | translate}}</li>
    </ol>
  </div>
</section>
<section class="padding-y bg-light">
  <div class="container">
    <div class="row">
      <main class="col-xl-8 col-lg-8">
        <article class="card mb-4" *ngIf="!loggedInEmail">
          <div class="content-body">
            <div class="float-end">
              <a href="#" class="btn btn-outline-primary">{{"orders.checkout.register" | translate}}</a>
              <a href="#" class="btn btn-primary">{{"orders.checkout.sign_in" | translate}}</a>
            </div>
            <h5>{{"orders.checkout.have_account" | translate}}</h5>
          </div>
        </article>
        <ng-container *ngIf="loggedInEmail">
          <h6 *ngIf="addresses.length > 1">
            {{"orders.checkout.addresses.choose_address" | translate}}
          </h6>
          <h6 *ngIf="addresses.length === 1">
            {{"orders.checkout.addresses.default_address" | translate}}
          </h6>
          <p *ngIf="!addresses.length">{{"orders.checkout.addresses.provide_address" | translate}}</p>
          <div class="form-group radio-holder">
            <mat-radio-group [value]="defaultAddressIdForOrder" aria-label="Select address">
              <div class="row">
                <div class="col-md-12" *ngFor="let address of addresses">
                  <mat-radio-button [value]="address.id" class="item">
                    <rimss-address-card class="mt-32" [address]="address" [readMode]="true"></rimss-address-card>
                  </mat-radio-button>
                </div>
              </div>
            </mat-radio-group>
          </div>
          <br />

          <div class="col-md-12">
            <button (click)="chooseAddNewAddress()" class="btn btn-info btn-small">
              {{"orders.checkout.addresses.add_new_address" | translate}}
            </button>
            <rimss-address *ngIf="useAddNewAddress" [standalone]="false"
              (addressSave)="fetchAddresses()"></rimss-address>
          </div>
          <div class="clearfix"></div>
          <h6 *ngIf="addresses.length > 1">
            {{"orders.checkout.payment_method" | translate}}
          </h6>
          <div class="form-group radio-holder mt-4">
            <mat-radio-group [value]="paymentMethod" aria-label="Select payment mode">
              <div class="row">
                <mat-radio-button [value]="PaymentMode.CASH_ON_DELIVERY" class="col-md-6">
                  {{"orders.checkout.payment.cash" | translate}}
                </mat-radio-button>
                <mat-radio-button [value]="PaymentMode.CREDIT_DEBIT_CARD" class="col-md-6">
                  {{"orders.checkout.payment.card" | translate}}
                </mat-radio-button>
                <mat-radio-button [value]="PaymentMode.NET_BANKING" class="col-md-6">
                  {{"orders.checkout.payment.net_banking" | translate}}
                </mat-radio-button>
                <mat-radio-button [value]="PaymentMode.WALLET" class="col-md-6">
                  {{"orders.checkout.payment.wallet" | translate}}
                </mat-radio-button>
              </div>

            </mat-radio-group>
          </div>

          <button class="btn btn-success btn-small" color="primary" [disabled]="!defaultAddressIdForOrder"
            (click)="makeOrder()">
            {{"orders.checkout.confirm" | translate}}
          </button>
        </ng-container>
      </main>
      <aside class="col-xl-4 col-lg-4">
        <article class="ms-lg-4 mt-4 mt-lg-0" style="max-width: 320px">
          <h6 class="card-title">{{"orders.checkout.summary" | translate}}</h6>
          <div class="card">
            <div class="card-body">
              <dl class="dlist-align">
                <dt>{{"orders.checkout.order_info.products_price" | translate}}</dt>
                <dd class="text-end"> {{ orderSummary?.originalPrice }} Rs/-</dd>
              </dl>
              <dl class="dlist-align">
                <dt>{{"orders.checkout.order_info.discount" | translate}}</dt>
                <dd class="text-end text-success"> {{(orderSummary?.originalPrice || 0) - (orderSummary?.discountedPrice
                  || 0) }} Rs/-</dd>
              </dl>
              <dl class="dlist-align">
                <dt>{{"orders.checkout.order_info.tax" | translate}}</dt>
                <dd class="text-end"> {{ orderSummary?.tax }} Rs/-</dd>
              </dl>
              <dl class="dlist-align">
                <dt>{{"orders.checkout.order_info.delivery_charges" | translate}}</dt>
                <dd class="text-end"> {{ orderSummary?.deliveryCharges }} Rs/-</dd>
              </dl>
              <dl class="dlist-align">
                <dt>{{"orders.checkout.order_info.coupon_discount" | translate}}</dt>
                <dd class="text-end"> {{ orderSummary?.couponDiscount }} Rs/-</dd>
              </dl>
              <hr>
              <dl class="dlist-align">
                <dt>{{"orders.checkout.order_info.net" | translate}}</dt>
                <dd class="text-end text-dark h5"> {{ orderSummary?.orderAmount }} Rs/- </dd>
              </dl>
            </div>
          </div>

          <div class="input-group my-4">
            <input type="text" class="form-control coupon-input" name="" placeholder="Promo code"
              [disabled]="orderSummary?.couponCode" />
            <button [disabled]="orderSummary?.couponCode" color="primary" class="btn btn-small btn-info mt-2">
              <span *ngIf="!orderSummary?.couponCode">{{"orders.checkout.apply" | translate}}</span>
              <span *ngIf="orderSummary?.couponCode">{{"orders.checkout.coupon_code" | translate}}
                {{orderSummary?.couponCode}} {{"orders.checkout.already_applied" | translate}}</span>
            </button>
          </div>
          <hr />
        </article>
      </aside>
    </div>
  </div>
</section>