<!-- ============== SECTION PAGETOP ============== -->
<section class="bg-primary padding-y-sm">
  <div class="container">
    <ol class="breadcrumb ondark steps">
      <li class="breadcrumb-item"><a href="#">1. Home</a></li>
      <li class="breadcrumb-item"><a href="#">2. Shopping cart</a></li>
      <li class="breadcrumb-item active">3. Order info</li>
      <li class="breadcrumb-item">4. Payment</li>
    </ol>
  </div>
  <!-- container //  -->
</section>
<!-- ============== SECTION PAGETOP END// ============== -->

<!-- ============== SECTION ============== -->
<section class="padding-y bg-light">
  <div class="container">
    <div class="row">
      <main class="col-xl-8 col-lg-8">
        <article class="card mb-4" *ngIf="!loggedInEmail">
          <div class="content-body">
            <div class="float-end">
              <a href="#" class="btn btn-outline-primary">Register</a>
              <a href="#" class="btn btn-primary">Sign in</a>
            </div>
            <h5>Have an account?</h5>
            <p class="mb-0">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </p>
          </div>
        </article>

        <!-- ============== COMPONENT CHECKOUT =============== -->
        <ng-container *ngIf="loggedInEmail">
          <p *ngIf="addresses.length > 1">
            Please choose from belowe addresses
          </p>
          <p *ngIf="addresses.length === 1">
            Below address will be used for both shipping and billing address by
            default
          </p>
          <p *ngIf="!addresses.length">Please provide delivery address</p>
          <div class="form-group radio-holder">
            <mat-radio-group
              [value]="defaultAddressIdForOrder"
              aria-label="Select gender"
            >
              <ng-container *ngFor="let address of addresses">
                <mat-radio-button [value]="address.id" class="item">
                  <rimss-address-card
                    class="mt-32"
                    [address]="address"
                    [readMode]="true"
                  ></rimss-address-card>
                </mat-radio-button>
              </ng-container>
            </mat-radio-group>
          </div>
          <br />

          <div class="col-md-12">
            <button
              mat-button
              (click)="chooseAddNewAddress()"
              class="add-new-address mat-button mat-raised-button"
            >
              Add new address
            </button>
            <rimss-address
              *ngIf="useAddNewAddress"
              [standalone]="false"
              (addressSave)="fetchAddresses()"
            ></rimss-address>
          </div>
          <div class="clearfix"></div>
        <div class="form-group radio-holder">
          <mat-radio-group [value]="paymentMethod" aria-label="Select payment mode">
            <mat-radio-button [value]="PaymentMode.CASH_ON_DELIVERY" class="item">
              Cash on delivery
            </mat-radio-button>
            <mat-radio-button [value]="PaymentMode.CREDIT_DEBIT_CARD" class="item">
              Pay via credit/debit card
            </mat-radio-button>
            <mat-radio-button [value]="PaymentMode.NET_BANKING" class="item">
              Pay via net banking
            </mat-radio-button>
            <mat-radio-button [value]="PaymentMode.WALLET" class="item">
              Pay via wallet
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <button
          mat-button
          class="mat-button mat-raised-button payment-button"
          color="primary"
          [disabled]="!defaultAddressIdForOrder"
          (click)="makeOrder()"
        >
          Confirm Order
        </button>
        </ng-container>
        

        <!-- ============== COMPONENT CHECKOUT .// =============== -->
      </main>
      <!-- col.// -->
      <aside class="col-xl-4 col-lg-4">
        <!-- ============== COMPONENT SUMMARY =============== -->
        <article class="ms-lg-4 mt-4 mt-lg-0" style="max-width: 320px">
          <h6 class="card-title">Summary</h6>



          <div class="card">
            <div class="card-body">
              <dl class="dlist-align">
                <dt>Products price:</dt>
                <dd class="text-end"> {{ orderSummary?.originalPrice }} Rs/-</dd>
              </dl>
              <dl class="dlist-align">
                <dt>Discount:</dt>
                <dd class="text-end text-success"> {{(orderSummary?.originalPrice || 0) - (orderSummary?.discountedPrice || 0) }} Rs/-</dd>
              </dl>
              <dl class="dlist-align">
                <dt>TAX:</dt>
                <dd class="text-end"> {{ orderSummary?.tax }} Rs/-</dd>
              </dl>
              <dl class="dlist-align">
                <dt>Delivery Charges:</dt>
                <dd class="text-end"> {{ orderSummary?.deliveryCharges }} Rs/-</dd>
              </dl>
              <dl class="dlist-align">
                <dt>Coupon Discount:</dt>
                <dd class="text-end"> {{ orderSummary?.couponDiscount }} Rs/-</dd>
              </dl>
              <hr>
              <dl class="dlist-align">
                <dt>Total:</dt>
                <dd class="text-end text-dark h5"> {{ orderSummary?.orderAmount }} Rs/- </dd>
              </dl>

            </div> <!-- card-body.// -->
            </div>

          <div class="input-group my-4">
            <input
              type="text"
              class="form-control coupon-input"
              name=""
              placeholder="Promo code"
              [disabled]="orderSummary?.couponCode"
            />
            <button [disabled]="orderSummary?.couponCode" mat-button color="primary" class="mat-button apply-coupon">
              <span *ngIf="!orderSummary?.couponCode">Apply</span>
              <span *ngIf="orderSummary?.couponCode">Coupon Code {{orderSummary?.couponCode}} already applied</span>
            </button>
          </div>

          <hr />
        </article>
        <!-- ============== COMPONENT SUMMARY .// =============== -->
      </aside>
      <!-- col.// -->
    </div>
    <!-- row.// -->

    <br /><br />
  </div>
  <!-- container .//  -->
</section>
<!-- ============== SECTION END// ============== -->
