::ng-deep {
  .radio-holder {
    .mat-radio-label-content {
      width: 100%;
    }
    .cdk-visually-hidden {
      display: block;
      visibility: visible;
      -webkit-appearance: auto;
      position: inherit;
    }
  }
}

.add-new-address {
  margin-bottom: 10px;
}

.coupon-input {
  width: 100%;
}
