<section class="page-header">
  <div class="overly"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content text-center">
          <h1 class="mb-3">{{"orders.order.label" | translate}}</h1>

          <!-- <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Order</li>
            </ol>
          </nav> -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <div class=" col-md-12 col-sm-12 col-lg-12">
        <table class="table table-bordered orders-holder">
          <thead>
            <tr>
              <th scope="col">{{"orders.order.order_info.product" | translate}}</th>
              <th scope="col">{{"orders.order.order_info.product_name" | translate}}</th>
              <th scope="col">{{"orders.order.order_info.order_date" | translate}}</th>
              <th scope="col">{{"orders.order.order_info.status" | translate}}</th>
              <th scope="col">{{"orders.order.order_info.amount" | translate}}</th>
              <th scope="col">{{"orders.order.order_info.actions.label" | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orderProducts">
                <th class="order-image-holder">
                    <img alt="product image" class="order-image" src="{{order.productImage}}">
                </th>
              <th scope="row">{{order.productSummary}}</th>
              <td>{{ order.orderDate | date}}</td>
              <td>{{"orders.order.order_info.order_accepted" | translate}}</td>
              <td>{{order.discountedPrice}} Rs\-</td>
              <td>
                <div class="mb-1"><a routerLink="/order" class="btn btn-info btn-small">{{"orders.order.order_info.actions.view_product" | translate}}</a></div>
                <div class="mb-1"><a routerLink="/order" class="btn btn-success btn-small">{{"orders.order.order_info.actions.track_order" | translate}}</a></div>
                <div class="mb-1"><a routerLink="/order" class="btn btn-danger btn-small">{{"orders.order.order_info.actions.cancel_order" | translate}}</a></div>
              </td>
            </tr>
            <tr *ngIf="!orderProducts.length">
              <th colspan="6" class="order-image-holder">
                {{"orders.order.order_info.no_order_found" | translate}}
              </th>
            
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
