<div class="price-holder">
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header
        [collapsedHeight]="'auto'"
        [expandedHeight]="'auto'"
      >
        <mat-panel-title>{{"filter.price.label" | translate}}</mat-panel-title>
      </mat-expansion-panel-header>

      <ng-container *ngFor="let range of priceRange; let i = index">
        <mat-checkbox [checked]="selectedPriceRange.includes(range)" [value]="range.index.toString()" (change)="onPriceChange($event)" class="price-cb">
          {{ range.displayText }}
        </mat-checkbox>
      </ng-container>
    </mat-expansion-panel>
  </mat-accordion>
</div>
