.in-wishlist {
    color: red !important;
}

.wish-list {
    color: grey;
}
.pImg img{
    width: auto !important;
    height: auto !important;
}
.info-wrap {
    span {
        height: 51px !important;
    display: block;
    overflow: hidden;
    }
}