<mat-card class="mt-16">
  <mat-card-content>
    <address>
      {{ address?.firstName }} {{ address?.lastName }}<br />
      {{ address?.line1 }}<br />
      {{ address?.line2 }}<br />
      {{address?.city}}, {{address?.state}}<br />
      {{address?.pincode}}
    </address>
    <span *ngIf="address?.isPrimaryAddress" class="primary-badge">{{"user.address_card.default" | translate}}</span>
  </mat-card-content>
  <mat-card-actions *ngIf="!readMode" align="end">
    <button class="mr-2" (click)="makeDefault()" [disabled]="address?.isPrimaryAddress" mat-button mat-raised-button color="primary">{{"user.address_card.make_default" | translate}}</button>
    <button class="mr-2" (click)="editAddress()" mat-button mat-raised-button>{{"user.address_card.edit" | translate}}</button>
    <button class="mr-2" (click)="deleteAddress()" mat-button mat-raised-button color="warn">{{"user.address_card.delete" | translate}}</button>
  </mat-card-actions>
</mat-card>
