<section class="bg-primary padding-y-sm">
  <div class="container">
    <ol class="breadcrumb ondark mb-0">
      <li class="breadcrumb-item"> <a href="#">{{"shared.home" | translate}}</a> </li>
      <li class="breadcrumb-item active">{{"cart-wishlist.cart.label" | translate}}</li>
    </ol>
  </div>
</section>

<section class="padding-y bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ng-container *ngIf="!cartProducts.length">
          <img alt="no product image" class="img-fluid cart-image"
            src="./../../../../../assets/images/nothing_in_cart.png" />
        </ng-container>
      </div>
      <div class="col-lg-9" *ngIf="cartProducts.length">
        <div class="card">
          <div class="content-body">
            <h4 class="card-title mb-4">{{"cart-wishlist.cart.your_cart" | translate}}</h4>
            <article *ngFor="let cartProduct of cartProducts; let i = index;" class="row gy-3 mb-4 mt-16">
              <div class="col-lg-5">
                <figure class="itemside me-lg-5">
                  <div class="aside"><a (keyup)="goToProductDetailPage(cartProduct)" tabindex="0"
                      (click)="goToProductDetailPage(cartProduct)"><img alt="thumbnail"
                        src="{{cartProduct.cartProductImage}}" class="img-lg"></a></div>
                  <figcaption class="product-info">
                    <a (keyup)="goToProductDetailPage(cartProduct)" tabindex="1"
                      (click)="goToProductDetailPage(cartProduct)" class="title">{{cartProduct.productBrief}}</a>
                    <p class="text-muted">{{cartProduct.productName}}</p>
                  </figcaption>
                </figure>
              </div>
              <div class="col-lg-1 mt-16">
                <select class="form-select" (change)="updateQuantity($event, i)">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
              </div>
              <div class="col-lg-3 col-sm-4 col-6 mt-16">
                <div class="price-wrap lh-sm">
                  <small class="text-muted"><del>{{cartProduct.unitPrice }}</del> {{cartProduct.discountedPrice }} * {{
                    cartProduct.quantity}} = <del>{{cartProduct.unitPrice * cartProduct.quantity }}</del>
                    {{cartProduct.discountedPrice * cartProduct.quantity }} {{cartProduct.unitCurrency}} </small>
                </div>
              </div>
              <div class="col-lg-3 col-sm-4 mt-16">
                <div class="float-lg-end">
                  <a (keyup)="removeFromCart(cartProduct)" tabindex="2" (click)="removeFromCart(cartProduct)"
                    class="btn btn-light text-danger">{{"cart-wishlist.cart.remove" | translate}}</a>
                </div>
              </div>
            </article>
          </div>
          <div class="content-body border-top" *ngIf="cartProducts.length">
            <p><i class="me-2 text-muted fa-lg fa fa-truck"></i> {{"cart-wishlist.cart.delivery_time" | translate}}</p>
            <p class="text-muted">{{"cart-wishlist.cart.delivery_instruction" | translate}}</p>
          </div>
        </div>

      </div>
      <aside class="col-lg-3" *ngIf="cartProducts.length">

        <div class="card mb-3">
          <div class="card-body">
            <div class="form-group">
              <div class="form-label mb-2">{{"cart-wishlist.cart.have_coupon" | translate}}</div>
              <div class="input-group">
                <input #couponName type="text" class="form-control coupon-input" name="" placeholder="Coupon code">
                <button (click)="applyCoupon(couponName.value)" color="primary" mat-button
                  class="mat-button mat-raised-button apply-coupon">{{"cart-wishlist.cart.apply" | translate}}</button>
              </div>
            </div>
            <ng-container *ngFor="let coupon of coupons">
              <div class="mb-2"><b>{{coupon.name}}</b> {{coupon.couponLabel}}</div>
            </ng-container>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">{{"cart-wishlist.cart.total" | translate}}</div>
              <div class="col-md-6"> {{ originalPriceSum }} {{currencyLabel}}</div>
            </div>
            <div class="row">
              <div class="col-md-6">{{"cart-wishlist.cart.discount" | translate}}</div>
              <div class="col-md-6 text-end text-success"> {{ originalPriceSum - discountedPriceSum }} {{currencyLabel}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">{{"cart-wishlist.cart.tax" | translate}}</div>
              <div class="col-md-6"> {{ tax }} {{currencyLabel}}</div>
            </div>
            <div class="row">
              <div class="col-md-6">{{"cart-wishlist.cart.delivery_charges" | translate}}</div>
              <div class="col-md-6"> {{ deliveryCharges }} {{currencyLabel}}</div>
            </div>
            <div class="row" *ngIf="appliedCoupon">
              <div class="col-md-6">{{"cart-wishlist.cart.coupon_discount" | translate}}</div>
              <div class="col-md-6"> {{ couponDiscount }} {{currencyLabel}}</div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6">{{"cart-wishlist.cart.net" | translate}}</div>
              <div class="col-md-6 text-dark"> {{ orderAmount }} {{currencyLabel}} </div>
            </div>
            <div class="d-grid gap-2 my-3">
              <a class="btn btn-success w-100 mt-16" (keyup)="checkout" (click)="checkout()"
                tabindex="1">{{"cart-wishlist.cart.make_purchase" | translate}}</a>
              <a class="btn btn-light w-100 mt-16">{{"cart-wishlist.cart.back_to_shop" | translate}}</a>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </div>
</section>



<!-- ============== Recommended Products Section starts here ============== -->
<section class="padding-y border-top">
  <div class="container">
    <header class="section-heading">
      <h4 class="section-title">{{"cart-wishlist.cart.recommended_items" | translate}}</h4>
    </header>

    <div class="row">
      <ng-container *ngFor="let recommendedProduct of recommendedProducts">
        <rimss-product-info [productInfo]="recommendedProduct"></rimss-product-info>
      </ng-container>
    </div> <!-- row.// -->

  </div> <!-- container .//  -->
</section>
<!-- ============== Recommended Products Section ends here  ============== -->