.cart-image {
    height: 500px;
}
.product-info {
    margin: auto 10px;
    .title {
        color: #1199ff;
    }
}

.price-wrap {
    margin-top: 4px;
}

.apply-coupon {
    margin-left: 10px;
    margin-bottom: 0px;
    height: 34px;
}

.coupon-input {
    width: 60%;
}