<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3" *ngFor="let footerCol of footerColumns">
                <h4>{{footerCol.title}}</h4>
                <ul>
                    <li *ngFor="let footerOption of footerCol.options"><a href="#">{{footerOption.label}}</a></li>
                </ul>
            </div>
            
            <div class="col-lg-12">
                <div class="under-footer">
                    <p>{{"core.footer.copyright" | translate}} 
                    <br>{{"core.footer.design" | translate}} <a href="#" target="_parent" title="">{{"core.header.appName" | translate}}</a></p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>