<section class="user-dashboard page-wrapper">
  <div class="container">
    <h3>
      Hi, {{ user?.firstName | titlecase }} {{ user?.lastName | titlecase }},
      
    </h3>
    <p> {{user?.email}}</p>
    <br />
    <ng-container *ngIf="!addresses.length">
      <div>No addresses found</div>
      <br/>
      <button mat-button mat-raised-button (click)="addAddress()">Add new address</button>
    </ng-container>
    <div class="row" *ngIf="addresses.length">
      <div class="col-12 col-md-7 col-sm-12 col-lg-9">
        
        <p>
          The following addresses will be used on the checkout page by default.
        </p>
        <br />
        <ng-container *ngFor="let address of addresses">
          <rimss-address-card class="mt-32" [address]="address"></rimss-address-card>
        </ng-container>
        <br/>
        <button mat-button mat-raised-button (click)="addAddress()">Add new address</button>
      </div>
    </div>
  </div>
</section>
