<section class="user-dashboard page-wrapper">
  <div class="container">
    <h3>
      {{"user.user_card.hi" | translate}}, {{ user?.firstName | titlecase }} {{ user?.lastName | titlecase }},
      
    </h3>
    <p> {{user?.email}}</p>
    <br />
    <ng-container *ngIf="!addresses.length">
      <div>{{"user.user_card.no_address" | translate}}</div>
      <br/>
      <button mat-button mat-raised-button (click)="addAddress()">{{"user.user_card.add_address" | translate}}</button>
    </ng-container>
    <div class="row" *ngIf="addresses.length">
      <div class="col-12 col-md-7 col-sm-12 col-lg-9">
        
        <p>
          {{"user.user_card.default_address" | translate}}
        </p>
        <br />
        <ng-container *ngFor="let address of addresses">
          <rimss-address-card class="mt-32" [address]="address"></rimss-address-card>
        </ng-container>
        <br/>
        <button mat-button mat-raised-button (click)="addAddress()">{{"user.user_card.add_address" | translate}}</button>
      </div>
    </div>
  </div>
</section>
